*[data-v-4ec6378b] {
  -webkit-tap-highlight-color: transparent;
}
body[data-v-4ec6378b],
html[data-v-4ec6378b],
a[data-v-4ec6378b],
span[data-v-4ec6378b],
div[data-v-4ec6378b],
i[data-v-4ec6378b] {
  -webkit-appearance: none;
}
a[data-v-4ec6378b]:hover,
a[data-v-4ec6378b]:active,
span[data-v-4ec6378b]:hover,
span[data-v-4ec6378b]:active,
div[data-v-4ec6378b]:hover,
div[data-v-4ec6378b]:active,
i[data-v-4ec6378b]:hover,
i[data-v-4ec6378b]:active {
  box-shadow: none;
}
.flex[data-v-4ec6378b],
#page-dialogs
  .dialogs-rank
  .rank-list
  .rank-item
  .rank-item-score[data-v-4ec6378b],
#page-dialogs
  .dialogs-rank
  .rank-list
  .rank-item
  .rank-item-num[data-v-4ec6378b],
#page-dialogs
  .dialogs-game-over
  .game-over-title
  .game-over-score[data-v-4ec6378b],
#page-dialogs .bg-game-tips .game-tips-title-text[data-v-4ec6378b],
#page-dialogs .dialogs-record .bg-record .recode-list > span[data-v-4ec6378b],
#page-dialogs .dialogs-record .bg-record .recode-tab span[data-v-4ec6378b],
#page-dialogs .dialogs-record .bg-record .recode-tab[data-v-4ec6378b],
#page-dialogs .dialogs-puzzle .bg-puzzle .puzzle-content[data-v-4ec6378b],
#page-dialogs > div[data-v-4ec6378b],
#game .icon-topbar-time[data-v-4ec6378b],
#game .icon-topbar-score[data-v-4ec6378b],
#mm .mm-top[data-v-4ec6378b],
.swiper-slide[data-v-4ec6378b] {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-x-y[data-v-4ec6378b],
#page-dialogs .dialogs-pause[data-v-4ec6378b],
#page-202507[data-v-4ec6378b] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%) translateY(-50%);
}
.center-x[data-v-4ec6378b],
#page-dialogs .dialogs-rank .rank-list[data-v-4ec6378b],
#page-dialogs .dialogs-rule .rule-ok[data-v-4ec6378b],
#page-dialogs .bg-game-tips .game-tips-title-icon[data-v-4ec6378b],
#page-dialogs .dialogs-record .bg-record .recode-list[data-v-4ec6378b],
#page-dialogs .dialogs-puzzle .bg-puzzle .puzzle-content[data-v-4ec6378b],
#mm .mm-bottom[data-v-4ec6378b] {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.center-y[data-v-4ec6378b] {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.filter[data-v-4ec6378b] {
  filter: blur(5px);
}
[data-v-4ec6378b]::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}
.fade-enter-active[data-v-4ec6378b] {
  animation: fade-in-4ec6378b 0.3s linear;
}
.fade-leave-active[data-v-4ec6378b] {
  animation: fade-in-4ec6378b 0.3s linear reverse;
}
@keyframes fade-in-4ec6378b {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.swiper[data-v-4ec6378b],
.swiper-wrapper[data-v-4ec6378b] {
  width: 100%;
  height: 100%;
}
.btn-start[data-v-4ec6378b] {
  width: 343px;
  height: 136px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/btn/start.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
  transition: all 0.2s linear;
}
.btn-start[data-v-4ec6378b]:active {
  transform: scale(0.93);
}
.btn-rule[data-v-4ec6378b] {
  width: 342px;
  height: 36px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/btn/rule.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
  transition: all 0.2s linear;
}
.btn-rule[data-v-4ec6378b]:active {
  transform: scale(0.93);
}
.btn-rank[data-v-4ec6378b] {
  width: 99px;
  height: 72px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/btn/rank.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
  transition: all 0.2s linear;
}
.btn-rank[data-v-4ec6378b]:active {
  transform: scale(0.93);
}
.btn-pause-home[data-v-4ec6378b] {
  width: 215px;
  height: 266px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/btn/pause-home.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
  transition: all 0.2s linear;
}
.btn-pause-home[data-v-4ec6378b]:active {
  transform: scale(0.93);
}
.btn-pause-reset[data-v-4ec6378b] {
  width: 215px;
  height: 266px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/btn/pause-reset.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
  transition: all 0.2s linear;
}
.btn-pause-reset[data-v-4ec6378b]:active {
  transform: scale(0.93);
}
.btn-pause-continue[data-v-4ec6378b] {
  width: 215px;
  height: 266px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/btn/pause-continue.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
  transition: all 0.2s linear;
}
.btn-pause-continue[data-v-4ec6378b]:active {
  transform: scale(0.93);
}
.btn-pause[data-v-4ec6378b] {
  width: 36px;
  height: 36px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/btn/pause.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
  transition: all 0.2s linear;
}
.btn-pause[data-v-4ec6378b]:active {
  transform: scale(0.93);
}
.btn-back[data-v-4ec6378b] {
  width: 375px;
  height: 218px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/btn/back.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
  transition: all 0.2s linear;
}
.btn-back[data-v-4ec6378b]:active {
  transform: scale(0.93);
}
.btn-record[data-v-4ec6378b] {
  width: 88px;
  height: 107px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/btn/record.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
  transition: all 0.2s linear;
}
.btn-record[data-v-4ec6378b]:active {
  transform: scale(0.93);
}
.btn-date[data-v-4ec6378b] {
  width: 88px;
  height: 108px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/btn/date.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
  transition: all 0.2s linear;
}
.btn-date[data-v-4ec6378b]:active {
  transform: scale(0.93);
}
.btn-music[data-v-4ec6378b] {
  width: 60px;
  height: 60px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/btn/music-0.png)
    no-repeat no-repeat;
  background-size: 100% 100% !important;
  position: fixed;
  right: 15px;
  top: 20px;
  z-index: 500;
}
.btn-music.active[data-v-4ec6378b] {
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/btn/music-1.png)
    no-repeat no-repeat;
  animation: music-rotate-4ec6378b 8s linear infinite;
}
.icon-logo[data-v-4ec6378b] {
  width: 143px;
  height: 67px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/logo.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.icon-logo-line[data-v-4ec6378b] {
  width: 2px;
  height: 47px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/logo-line.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.icon-logo2[data-v-4ec6378b] {
  width: 114px;
  height: 56px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/logo2.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.icon-share[data-v-4ec6378b] {
  width: 480px;
  height: 292px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/share.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.icon-mm-title[data-v-4ec6378b] {
  width: 425px;
  height: 357px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/mm-title.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.icon-mm-role[data-v-4ec6378b] {
  width: 750px;
  height: 1065px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/mm-role.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.icon-topbar-time[data-v-4ec6378b] {
  width: 124px;
  height: 30px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/topbar-time.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.icon-topbar-score[data-v-4ec6378b] {
  width: 124px;
  height: 30px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/topbar-score.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.icon-role-1[data-v-4ec6378b] {
  width: 183px;
  height: 205px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/role-1.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.icon-role-2[data-v-4ec6378b] {
  width: 183px;
  height: 205px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/role-2.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.icon-success-title[data-v-4ec6378b] {
  width: 410px;
  height: 267px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/success-title.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.icon-success-role[data-v-4ec6378b] {
  width: 240px;
  height: 284px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/success-role.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.icon-fail-title[data-v-4ec6378b] {
  width: 406px;
  height: 245px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/fail-title.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.icon-fail-role[data-v-4ec6378b] {
  width: 239px;
  height: 154px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/fail-role.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.icon-d-1[data-v-4ec6378b] {
  width: 300px;
  height: 140px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/d-1.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.icon-d-2[data-v-4ec6378b] {
  width: 300px;
  height: 149px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/d-2.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.icon-d-3[data-v-4ec6378b] {
  width: 220px;
  height: 170px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/d-3.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.icon-d-4[data-v-4ec6378b] {
  width: 300px;
  height: 259px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/d-4.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.icon-d-6[data-v-4ec6378b] {
  width: 178px;
  height: 228px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/d-6.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.icon-d-7[data-v-4ec6378b] {
  width: 300px;
  height: 301px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/d-7.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.icon-d-8[data-v-4ec6378b] {
  width: 100px;
  height: 91px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/d-8.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.icon-d-9[data-v-4ec6378b] {
  width: 287px;
  height: 248px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/d-9.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.icon-d-9-1[data-v-4ec6378b] {
  width: 287px;
  height: 248px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/d-9-1.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.icon-d-10[data-v-4ec6378b] {
  width: 287px;
  height: 280px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/d-10.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.icon-d-10-1[data-v-4ec6378b] {
  width: 287px;
  height: 280px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/d-10-1.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.icon-d-11[data-v-4ec6378b] {
  width: 256px;
  height: 252px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/d-11.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.icon-d-11-1[data-v-4ec6378b] {
  width: 256px;
  height: 252px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/d-11-1.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.icon-d-12[data-v-4ec6378b] {
  width: 276px;
  height: 212px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/d-12.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.icon-d-12-1[data-v-4ec6378b] {
  width: 276px;
  height: 212px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/d-12-1.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.icon-d-13[data-v-4ec6378b] {
  width: 286px;
  height: 286px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/d-13.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.icon-d-13-1[data-v-4ec6378b] {
  width: 286px;
  height: 281px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/d-13-1.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.icon-d-14[data-v-4ec6378b] {
  width: 304px;
  height: 290px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/d-14.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.icon-d-14-1[data-v-4ec6378b] {
  width: 304px;
  height: 290px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/d-14-1.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.icon-d-5-1[data-v-4ec6378b] {
  width: 300px;
  height: 308px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/d-5-1.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.icon-d-4-1[data-v-4ec6378b] {
  width: 300px;
  height: 246px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/d-4-1.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.icon-t-1[data-v-4ec6378b] {
  width: 169px;
  height: 45px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/t-1.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.icon-t-2[data-v-4ec6378b] {
  width: 155px;
  height: 50px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/t-2.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.icon-t-3[data-v-4ec6378b] {
  width: 215px;
  height: 47px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/t-3.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.icon-t-4[data-v-4ec6378b] {
  width: 149px;
  height: 51px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/t-4.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.icon-face-1[data-v-4ec6378b] {
  width: 183px;
  height: 183px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/face-1.gif)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.icon-face-2[data-v-4ec6378b] {
  width: 183px;
  height: 183px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/face-2.gif)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.bg-mm[data-v-4ec6378b] {
  width: 750px;
  height: 1600px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/background/mm.jpg)
    center center;
}
.bg-rule[data-v-4ec6378b] {
  width: 607px;
  height: 1521px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/background/rule.png)
    center center;
}
.bg-puzzle[data-v-4ec6378b] {
  width: 638px;
  height: 647px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/background/puzzle.png)
    center center;
}
.bg-record[data-v-4ec6378b] {
  width: 674px;
  height: 686px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/background/record.png)
    center center;
}
.bg-date[data-v-4ec6378b] {
  width: 734px;
  height: 677px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/background/date2.png)
    center center;
}
.bg-rank[data-v-4ec6378b] {
  width: 613px;
  height: 1246px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/background/rank.png)
    center center;
}
.bg-game-tips[data-v-4ec6378b] {
  width: 672px;
  height: 491px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/background/game-tips.png)
    center center;
}
.bg-guide-1[data-v-4ec6378b] {
  width: 534px;
  height: 651px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/background/guide-1.png)
    center center;
}
.bg-guide-2[data-v-4ec6378b] {
  width: 540px;
  height: 431px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/background/guide-2.png)
    center center;
}
.bg-game-1[data-v-4ec6378b] {
  width: 750px;
  height: 1600px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/background/game-1.jpg)
    center center;
}
.bg-game-2[data-v-4ec6378b] {
  width: 750px;
  height: 1600px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/background/game-2.jpg)
    center center;
}
.bg-game-3[data-v-4ec6378b] {
  width: 750px;
  height: 1600px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/background/game-3.jpg)
    center center;
}
.bg-game-4[data-v-4ec6378b] {
  width: 750px;
  height: 1600px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/background/game-4.jpg)
    center center;
}
.num-rank-head-1[data-v-4ec6378b] {
  width: 532px;
  height: 93px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/num/rank/1.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.num-rank-head-2[data-v-4ec6378b] {
  width: 532px;
  height: 93px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/num/rank/2.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.num-rank-head-3[data-v-4ec6378b] {
  width: 532px;
  height: 93px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/num/rank/3.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.num-rank-head-4[data-v-4ec6378b] {
  width: 532px;
  height: 93px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/num/rank/4.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.num-rank-head-5[data-v-4ec6378b] {
  width: 532px;
  height: 93px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/num/rank/5.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.num-rank-head-6[data-v-4ec6378b] {
  width: 532px;
  height: 93px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/num/rank/6.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.num-rank-head-7[data-v-4ec6378b] {
  width: 532px;
  height: 93px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/num/rank/7.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.num-rank-head-8[data-v-4ec6378b] {
  width: 532px;
  height: 93px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/num/rank/8.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.num-rank-head-9[data-v-4ec6378b] {
  width: 532px;
  height: 93px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/num/rank/9.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.num-rank-head-10[data-v-4ec6378b] {
  width: 532px;
  height: 93px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/num/rank/10.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.num-rank-head-11[data-v-4ec6378b] {
  width: 532px;
  height: 93px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/num/rank/11.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.num-rank-head-12[data-v-4ec6378b] {
  width: 532px;
  height: 93px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/num/rank/12.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.num-rank-head-13[data-v-4ec6378b] {
  width: 532px;
  height: 93px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/num/rank/13.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.num-rank-head-14[data-v-4ec6378b] {
  width: 532px;
  height: 93px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/num/rank/14.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.num-rank-head-15[data-v-4ec6378b] {
  width: 532px;
  height: 93px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/num/rank/15.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.num-rank-head-16[data-v-4ec6378b] {
  width: 532px;
  height: 93px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/num/rank/16.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.num-rank-head-17[data-v-4ec6378b] {
  width: 532px;
  height: 93px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/num/rank/17.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.num-rank-head-18[data-v-4ec6378b] {
  width: 532px;
  height: 93px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/num/rank/18.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.num-rank-head-19[data-v-4ec6378b] {
  width: 532px;
  height: 93px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/num/rank/19.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.num-rank-head-20[data-v-4ec6378b] {
  width: 532px;
  height: 93px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/num/rank/20.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.num-rank-0[data-v-4ec6378b] {
  width: 13px;
  height: 18px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/num/rank/num-0.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.num-rank-1[data-v-4ec6378b] {
  width: 13px;
  height: 18px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/num/rank/num-1.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.num-rank-2[data-v-4ec6378b] {
  width: 13px;
  height: 18px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/num/rank/num-2.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.num-rank-3[data-v-4ec6378b] {
  width: 13px;
  height: 18px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/num/rank/num-3.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.num-rank-4[data-v-4ec6378b] {
  width: 13px;
  height: 18px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/num/rank/num-4.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.num-rank-5[data-v-4ec6378b] {
  width: 13px;
  height: 18px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/num/rank/num-5.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.num-rank-6[data-v-4ec6378b] {
  width: 13px;
  height: 18px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/num/rank/num-6.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.num-rank-7[data-v-4ec6378b] {
  width: 13px;
  height: 18px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/num/rank/num-7.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.num-rank-8[data-v-4ec6378b] {
  width: 13px;
  height: 18px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/num/rank/num-8.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.num-rank-9[data-v-4ec6378b] {
  width: 13px;
  height: 18px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/num/rank/num-9.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
.num-rank-fen[data-v-4ec6378b] {
  margin-left: 3px;
  width: 25px;
  height: 25px;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/num/rank/fen.png)
    no-repeat no-repeat;
  background-size: 100% 100%;
}
@keyframes fade-btn-4ec6378b {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes mm-title-4ec6378b {
  0% {
    rotate: 0deg;
    scale: 0;
  }
  to {
    rotate: 720deg;
    scale: 1;
  }
}
@keyframes mm-role-4ec6378b {
  0% {
    transform: translate(100%) translateY(-50%);
  }
  to {
    transform: translate(0) translateY(0);
  }
}
@keyframes music-rotate-4ec6378b {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes role-hand-rotate-4ec6378b {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(40deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(-40deg);
  }
  to {
    transform: rotate(0);
  }
}
#page-202507[data-v-4ec6378b] {
  background: #000;
  width: 100vw;
  height: 100vh;
  max-height: 1600px;
  overflow: hidden;
}
#page-202507 .scene-layer[data-v-4ec6378b] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#mm .mm-role-box[data-v-4ec6378b] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 50% 50%;
}
#mm .mm-top[data-v-4ec6378b] {
  height: 67px;
  position: absolute;
  top: 10px;
  left: 10px;
}
#mm .mm-top .icon-logo-line[data-v-4ec6378b] {
  margin: 0 5px;
}
#mm .mm-bottom[data-v-4ec6378b] {
  position: absolute;
  bottom: 100px;
  width: 343px;
  height: 185px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#mm .mm-bottom-2[data-v-4ec6378b] {
  width: 100px;
  height: 330px;
  position: absolute;
  right: 15px;
  bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
#mm .mm-top[data-v-4ec6378b],
#mm .mm-bottom[data-v-4ec6378b],
#mm .mm-bottom-2[data-v-4ec6378b],
#mm .btn-rank[data-v-4ec6378b] {
  opacity: 0;
  animation: fade-btn-4ec6378b 0.5s 1.1s linear forwards;
}
#mm .icon-mm-title[data-v-4ec6378b] {
  display: flex;
  position: absolute;
  top: 70px;
  left: 25px;
  animation: mm-title-4ec6378b 1s linear forwards;
}
#mm .icon-mm-role[data-v-4ec6378b] {
  display: flex;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -532.5px;
  animation: mm-role-4ec6378b 0.5s linear forwards;
}
#game.moving-down #hand-box[data-v-4ec6378b] {
  transition: height 1s linear;
  height: 1120px !important;
}
#game.moving-up #hand-box[data-v-4ec6378b] {
  transition: height 1s linear;
  height: 100px !important;
}
#game.has-fish #hand-box[data-v-4ec6378b] {
  transition: height 2s linear;
}
#game.moving-up-solw #hand-box[data-v-4ec6378b] {
  transition: height 10s linear;
}
#game .game-bg[data-v-4ec6378b] {
  position: relative;
  background-position: left bottom !important;
}
#game #game-top[data-v-4ec6378b] {
  width: 100%;
  height: 265px;
  position: absolute;
  left: 0;
  z-index: 1;
}
#game #game-top #game-role[data-v-4ec6378b] {
  margin-left: -91.5px;
  width: 183px;
  height: 205px;
  position: absolute;
  left: 50%;
  top: 50px;
  animation-play-state: paused !important;
}
#game #game-top #game-role.level-2[data-v-4ec6378b],
#game #game-top #game-role.level-3[data-v-4ec6378b],
#game #game-top #game-role.level-4[data-v-4ec6378b],
#game #game-top #game-role.level-5[data-v-4ec6378b],
#game #game-top #game-role.level-6[data-v-4ec6378b] {
  --role-move-offset: 160px;
  animation: role-move-4ec6378b 4s linear infinite;
}
#game #game-top #game-role.level-7[data-v-4ec6378b],
#game #game-top #game-role.level-8[data-v-4ec6378b],
#game #game-top #game-role.level-9[data-v-4ec6378b] {
  --role-move-offset: 220px;
  animation: role-move-4ec6378b 4s linear infinite;
}
#game #game-top #game-role.level-10[data-v-4ec6378b],
#game #game-top #game-role.level-11[data-v-4ec6378b],
#game #game-top #game-role.level-12[data-v-4ec6378b],
#game #game-top #game-role.level-13[data-v-4ec6378b],
#game #game-top #game-role.level-14[data-v-4ec6378b],
#game #game-top #game-role.level-15[data-v-4ec6378b] {
  --role-move-offset: 280px;
  animation: role-move-4ec6378b 3.5s linear infinite;
}
#game #game-top #game-role.rotate[data-v-4ec6378b],
#game #game-top #game-role.rotate #hand-box[data-v-4ec6378b] {
  animation-play-state: running !important;
}
@keyframes role-move-4ec6378b {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(var(--role-move-offset));
  }
  50% {
    transform: translate(0);
  }
  75% {
    transform: translate(calc(-1 * var(--role-move-offset)));
  }
  to {
    transform: translate(0);
  }
}
#game #game-top #game-role span[data-v-4ec6378b] {
  display: flex;
  position: absolute;
}
#game #game-top #game-role .icon-role-1[data-v-4ec6378b],
#game #game-top #game-role .icon-role-2[data-v-4ec6378b] {
  top: 0;
  left: 0;
}
#game #game-top #game-role .icon-face-1[data-v-4ec6378b],
#game #game-top #game-role .icon-face-2[data-v-4ec6378b] {
  top: -17px;
  left: 0;
  z-index: 1;
}
#game #game-top #game-role #hand-box[data-v-4ec6378b] {
  width: 93px;
  height: 100px;
  position: absolute;
  top: 110px;
  left: 49px;
  transform-origin: 50% 0%;
  animation: role-hand-rotate-4ec6378b 5s linear infinite;
  animation-play-state: paused;
}
#game #game-top #game-role #hand-box .icon-role-hand-1[data-v-4ec6378b],
#game #game-top #game-role #hand-box .icon-role-hand-2[data-v-4ec6378b] {
  width: 26px;
  height: 100%;
}
#game #game-top #game-role #hand-box .icon-role-hand-1[data-v-4ec6378b] {
  left: 0;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/role-hand-1.png)
    center bottom no-repeat no-repeat;
}
#game #game-top #game-role #hand-box .icon-role-hand-2[data-v-4ec6378b] {
  right: 0;
  background: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/role-hand-2.png)
    center bottom no-repeat no-repeat;
}
#game #game-top #game-role #hand-box #hand-check[data-v-4ec6378b] {
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
}
#game #game-top #game-role #hand-box #hand-dot[data-v-4ec6378b] {
  width: 1px;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 50%;
  border-radius: 50%;
}
#game #game-top #game-role #hand-box #hand-fish[data-v-4ec6378b] {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%) translateY(50%);
  scale: 0.5;
  transform-origin: 0% 100%;
  transition: all fade 0.15s linear;
}
#game #game-main[data-v-4ec6378b] {
  width: 100%;
  height: 1000px;
  position: absolute;
  bottom: 0px;
  left: 0;
}
#game #game-main > span[data-v-4ec6378b] {
  display: flex;
  position: absolute;
  opacity: 1;
  transition: opacity 0.15s linear;
  transform-origin: 0% 0%;
}
#game #game-main > span.dead[data-v-4ec6378b] {
  opacity: 0;
}
#game #game-main .icon-d-5[data-v-4ec6378b] {
  width: 300px;
  height: 308px;
  scale: 0.4;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transform-origin: 50% 50%;
}
#game #game-main .icon-d-5.p-1[data-v-4ec6378b] {
  --icon-d-5-move-offset: 500px;
  animation: img-loop-4ec6378b 0.35s infinite linear,
    img-move-4ec6378b 1.8s infinite linear;
}
#game #game-main .icon-d-5.p-2[data-v-4ec6378b] {
  --icon-d-5-move-offset: 700px;
  animation: img-loop-4ec6378b 0.4s infinite linear,
    img-move-4ec6378b 2s infinite linear;
}
@keyframes img-loop-4ec6378b {
  0% {
    background-image: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/d-5-1.png);
  }
  33% {
    background-image: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/d-5-2.png);
  }
  66% {
    background-image: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/d-5-3.png);
  }
  to {
    background-image: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/d-5-1.png);
  }
}
@keyframes img-move-4ec6378b {
  0% {
    transform: translate(0) scaleX(1);
  }
  50% {
    transform: translate(var(--icon-d-5-move-offset)) scaleX(1);
  }
  50.1% {
    transform: translate(var(--icon-d-5-move-offset)) scaleX(-1);
  }
  99.9% {
    transform: translate(0) scaleX(-1);
  }
  to {
    transform: translate(0) scaleX(1);
  }
}
#game #game-main .icon-d-4[data-v-4ec6378b] {
  width: 300px;
  height: 246px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transform-origin: 50% 50%;
}
#game #game-main .icon-d-4.p-1[data-v-4ec6378b] {
  scale: 0.6;
  --icon-d-5-move-offset: -900px;
  animation: img-loop-2-4ec6378b 0.2s infinite linear,
    img-move-2-4ec6378b 3s infinite linear;
}
#game #game-main .icon-d-4.p-2[data-v-4ec6378b] {
  scale: 0.5;
  --icon-d-5-move-offset: -500px;
  animation: img-loop-2-4ec6378b 0.25s infinite linear,
    img-move-2-4ec6378b 1.8s infinite linear;
}
#game #game-main .icon-d-4.p-3[data-v-4ec6378b] {
  scale: 0.5;
  --icon-d-5-move-offset: -650px;
  animation: img-loop-2-4ec6378b 0.25s infinite linear,
    img-move-2-4ec6378b 1.8s infinite linear;
}
@keyframes img-loop-2-4ec6378b {
  0% {
    background-image: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/d-4-1.png);
  }
  33% {
    background-image: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/d-4-2.png);
  }
  66% {
    background-image: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/d-4-3.png);
  }
  to {
    background-image: url(../cpe-oss-h5.oss-cn-shenzhen.aliyuncs.com/h5/202507/vvv/image/icon/d-4-1.png);
  }
}
@keyframes img-move-2-4ec6378b {
  0% {
    transform: translate(0) scaleX(1);
  }
  50% {
    transform: translate(var(--icon-d-5-move-offset)) scaleX(1);
  }
  50.1% {
    transform: translate(var(--icon-d-5-move-offset)) scaleX(-1);
  }
  99.9% {
    transform: translate(0) scaleX(-1);
  }
  to {
    transform: translate(0) scaleX(1);
  }
}
#game #game-fly[data-v-4ec6378b] {
  display: flex;
  position: absolute;
  z-index: 50;
  transform-origin: 50% 50%;
}
#game #game-touch[data-v-4ec6378b] {
  width: 100%;
  height: 85%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}
#game .btn-pause[data-v-4ec6378b] {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 20;
}
#game .icon-topbar-time[data-v-4ec6378b],
#game .icon-topbar-score[data-v-4ec6378b] {
  padding-left: 15px;
  position: absolute;
  top: 22px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  z-index: 20;
}
#game .icon-topbar-time[data-v-4ec6378b] {
  left: 100px;
}
#game .icon-topbar-score[data-v-4ec6378b] {
  left: 260px;
  letter-spacing: -1px;
}
#page-dialogs[data-v-4ec6378b] {
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}
#page-dialogs > div[data-v-4ec6378b] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#page-dialogs .dialogs-close[data-v-4ec6378b] {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 80px;
  right: 0px;
}
#page-dialogs .dialogs-puzzle .bg-puzzle[data-v-4ec6378b] {
  position: relative;
}
#page-dialogs .dialogs-puzzle .bg-puzzle .puzzle-content[data-v-4ec6378b] {
  width: 400px;
  height: 225px;
  top: 250px;
}
#page-dialogs .dialogs-puzzle .bg-puzzle .puzzle-content img[data-v-4ec6378b] {
  max-width: 100%;
  max-height: 100%;
}
#page-dialogs .dialogs-puzzle .bg-puzzle .puzzle-save[data-v-4ec6378b] {
  width: 180px;
  height: 110px;
  position: absolute;
  bottom: 0;
  left: 110px;
}
#page-dialogs .dialogs-puzzle .bg-puzzle .puzzle-back[data-v-4ec6378b] {
  width: 180px;
  height: 110px;
  position: absolute;
  bottom: 0;
  left: 350px;
}
#page-dialogs .dialogs-record .bg-record[data-v-4ec6378b] {
  position: relative;
}
#page-dialogs .dialogs-record .bg-record .recode-tab[data-v-4ec6378b] {
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0;
  top: 200px;
}
#page-dialogs .dialogs-record .bg-record .recode-tab span[data-v-4ec6378b] {
  height: 60px;
  width: 150px;
  margin: 0 50px;
  font-size: 24px;
  color: #030303;
  border-radius: 10px;
  color: #fff;
  transition: all 0.3s linear;
  background: #9134a3;
}
#page-dialogs
  .dialogs-record
  .bg-record
  .recode-tab
  span.active[data-v-4ec6378b] {
  background: #ef6df4;
}
#page-dialogs .dialogs-record .bg-record .recode-list[data-v-4ec6378b] {
  margin-left: 9px;
  width: 600px;
  height: 310px;
  top: 300px;
  overflow-y: auto;
}
#page-dialogs .dialogs-record .bg-record .recode-list > span[data-v-4ec6378b] {
  margin: 12px 9px;
  width: 180px;
  height: 101.75px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#page-dialogs
  .dialogs-record
  .bg-record
  .recode-list
  > span
  img[data-v-4ec6378b] {
  max-width: 100%;
  max-height: 100%;
}
#page-dialogs
  .dialogs-record
  .bg-record
  .recode-list
  > span
  > span[data-v-4ec6378b] {
  position: absolute;
  right: 30px;
  bottom: 30px;
  font-size: 24px;
  color: #80499d;
  font-weight: 700;
}
#page-dialogs .bg-game-tips[data-v-4ec6378b] {
  position: relative;
}
#page-dialogs .bg-game-tips .game-tips-title-text[data-v-4ec6378b] {
  width: 100%;
  height: 50px;
  left: 0;
  top: 45px;
  position: absolute;
  font-size: 40px;
  color: #6c3a86;
  font-weight: 700;
}
#page-dialogs .bg-game-tips .game-tips-title-icon[data-v-4ec6378b] {
  top: 95px;
}
#page-dialogs .bg-game-tips .game-tips-content[data-v-4ec6378b] {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  position: absolute;
  top: 190px;
  left: 0;
  font-size: 40px;
  line-height: 50px;
  color: #6c3a86;
  font-weight: 700;
}
#page-dialogs .dialogs-pause[data-v-4ec6378b] {
  width: 100%;
  height: 266px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
}
#page-dialogs .dialogs-game-over[data-v-4ec6378b] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#page-dialogs .dialogs-game-over .game-over-title[data-v-4ec6378b] {
  margin-bottom: 30px;
  position: relative;
}
#page-dialogs
  .dialogs-game-over
  .game-over-title
  .game-over-score[data-v-4ec6378b] {
  width: 100%;
  height: 30px;
  font-size: 24px;
  position: absolute;
  left: 0;
}
#page-dialogs
  .dialogs-game-over
  .game-over-title.icon-success-title
  .game-over-score[data-v-4ec6378b] {
  color: #e45b1f;
  bottom: 40px;
}
#page-dialogs
  .dialogs-game-over
  .game-over-title.icon-fail-title
  .game-over-score[data-v-4ec6378b] {
  color: #6b6a6a;
  bottom: 30px;
}
#page-dialogs .dialogs-rule[data-v-4ec6378b] {
  position: relative;
}
#page-dialogs .dialogs-rule .rule-close[data-v-4ec6378b] {
  width: 73px;
  height: 74px;
  display: flex;
  position: absolute;
  top: 195px;
  right: 69px;
}
#page-dialogs .dialogs-rule .rule-ok[data-v-4ec6378b] {
  width: 230px;
  height: 74px;
  display: flex;
  bottom: 143px;
}
#page-dialogs .dialogs-rank[data-v-4ec6378b] {
  position: relative;
}
#page-dialogs .dialogs-rank .rank-list[data-v-4ec6378b] {
  height: 830px;
  width: 530px;
  top: 370px;
  margin-left: -5px;
  overflow-y: auto;
}
#page-dialogs .dialogs-rank .rank-list .rank-item[data-v-4ec6378b] {
  margin-bottom: 20px;
  width: 530px;
  height: 90px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#page-dialogs .dialogs-rank .rank-list .rank-item > span[data-v-4ec6378b] {
  color: #e49afd;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -1px;
}
#page-dialogs
  .dialogs-rank
  .rank-list
  .rank-item
  .rank-item-num[data-v-4ec6378b] {
  width: 100px;
  height: 100%;
}
#page-dialogs
  .dialogs-rank
  .rank-list
  .rank-item
  .rank-item-name[data-v-4ec6378b] {
  margin-left: 10px;
  width: 240px;
  height: 90px;
  display: inline-block;
  line-height: 90px;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
}
#page-dialogs
  .dialogs-rank
  .rank-list
  .rank-item
  .rank-item-score[data-v-4ec6378b] {
  width: 150px;
  height: 90px;
}
#page-dialogs
  .dialogs-rank
  .rank-list
  .rank-item
  .rank-item-score
  i[data-v-4ec6378b] {
  margin: 0 1px;
}
#page-dialogs .dialogs-rank .rank-close[data-v-4ec6378b] {
  width: 73px;
  height: 74px;
  display: flex;
  position: absolute;
  top: 110px;
  right: 0px;
}
#page-dialogs .dialogs-share[data-v-4ec6378b] {
  position: absolute;
  top: 0;
  right: 0;
}
